@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Poppins', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    /* background: radial-gradient(circle, rgba(65,119,189,1) 0%, rgba(148,187,233,1) 100%); */
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(65,119,189,1) 100%);
}

.card {
    width: 90%;
    max-width: 470px;
    /* background: rgba(255,255,255,0.2); */
    background: rgba(0,0,0,.2);
    color: #fff;
    margin: 100px auto 50px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.125rem;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 5rem ;
    font-weight: 500;
    font-family: 'Bai Jamjuree', sans-serif;
}

.weather h2 {
    font-size: 2.8rem ;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin: 10px;
}

.humidity,
.wind {
    font-size: 1.75rem;
    margin-top: -6px;
}

  /* KEYFRAMES */
  @keyframes fade-in {
    0% {
    opacity: 0;
    transform: translateY(15px) scale(0.8);
    }
    100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    }
}

.weather {
    display: none;
    animation: fade-in 0.3s;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 14px;
    display: none;
    animation: fade-in 0.3s;
}

/* BREAK POINTS */
@media screen and (max-width: 567px) {
    .search input {
        width: 100%;
    }

    .card {
        padding: 40px 20px;
    }

    .details {
        padding: 0;
    }

    .humidity,
    .wind {
        font-size: 1rem;
    }
}
